.header {
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: #a7db8d;
  border-radius: 10px;
}
.abilities {
  gap: 10px;
  width: 270px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  background-color: white;
  padding: 8px;
  /* border-radius: 5px; */
}

.abilitiesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  font-family: sans-serif;
  font-size: 12.7px;
  align-content: center;
  text-align: center;
}

.displayDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}
